<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.current_session_context_class">thread</property>        
        <property name="hibernate.connection.url">jdbc:sqlite:/home/skuarch/Desktop/api-ngo.db</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">model.database.SQLiteDialect</property>
        
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">3</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>        
        
        <mapping class="model.beans.Comment"/>
        <mapping class="model.beans.HeadCount"/>
        <mapping class="model.beans.Odd"/>        
        <mapping class="model.beans.Opportunity"/>
        <mapping class="model.beans.Project"/>
        <mapping class="model.beans.ProjectType"/>
        <mapping class="model.beans.RequestBean"/>
        <mapping class="model.beans.Skill"/>
        <mapping class="model.beans.Stage"/>
        <mapping class="model.beans.TestBean"/>
        
    </session-factory>
</hibernate-configuration>
